<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Doc pdf</title>
    <h1>Contrat de location</h1>
  
<body>
    Entre les sousigné 
    <ul>
        <li>Le proprietaire Rhenard Munongo, ci apres denomé "Le proprietaire"</li>
        <li>Le locateur, {{contrat.prenom}} {{contrat.name}}, ci-après dénomé "Le locataore" </li>

        Il est convenu et d'arreter ce qui suit :
    </ul>

    <ul>
      <li>1. Obet du contrat : Le proprietaire loue au locataire le logement ci-après dénomé "logement", du {{contrat.dateDebut |date('d/m/y')}} ou {{contrat.dateFin |date('d/m/y')}} </li>
      <li>2. Loyer : Le locataire s'engage a payer au proprietaire de {{contrat.loyer}}$</li>
      <li>3. Caution : Le locataire s'engagea deposer un caution de {{contrat.caution}}</li>
      <li>4. Durée et renouvellement : Ce contrat prend fin {{contrat.dateFin |date('d/m/y') }}</li>
    </ul>
</body>
</html>